:root {
  --fg-color: #fafafa;
  --bg-color: #222;
  --border-color: #fafafa;
  --link-color: #2fc2ef;
  --hover-effect: background-color .38s linear, color .24s linear, fill .24s linear;
  --shred-edges: polygon(2% 0%, 4% 7%, 0% 21%, 6% 38%, 0% 62%, 5% 59%, 0% 74%, 4% 95%, 0% 100%, 100% 100%, 96% 78%, 100% 74%, 99% 54%, 94% 57%, 99% 42%, 98% 25%, 98% 15%, 93% 9%, 97% 4%, 90% 0%);
}

body {
  background-color: var(--bg-color);
  border-color: var(--border-color);
  color: var(--fg-color);
  fill: currentColor;
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
}

a {
  color: var(--link-color);
  text-decoration: underline;
  transition: var(--hover-effect);
}
a:hover {
  transition: var(--hover-effect);
}

.nojs {
  background: red;
  border-bottom: 1px solid;
  font-size: 1.2em;
  font-variant: small-caps;
  padding: .25em
}

nav {
  display: flex;
  align-items: center;
  background: black;
  border: 1px solid;
  font-variant: small-caps;
  width: -moz-fit-content;
  width: fit-content;
}
nav:empty {
  display: none;
}
nav a {
  color: inherit;
  text-decoration: none;
}
nav a:hover {
  background-color: var(--fg-color);
  border-color: var(--fg-color);
  color: var(--bg-color);
}
nav a .text {
  display: inline-block;
  padding: .25em .5em;
}

address {
  font-style: normal;
}

time {
  font-style: italic;
}

[hidden] {
  display: none !important;
}

body > header {
  display: flex;
  align-items: flex-end;

  background-color: var(--bg-color);
  border-bottom: 1px solid;
  padding-block-start: 1em;
  position: sticky;
  top: 0;
  z-index: 1;
}
body > header * {
  display: inline-block;
}
body > header h1 {
  flex: 1;
  margin: 0;
}
body > header h1 a {
  background-color: var(--fg-color);
  clip-path: var(--shred-edges);
  color: var(--bg-color);
  fill: var(--bg-color);
  text-decoration: none;
}
body > header h1 a:hover {
  background-color: var(--bg-color);
  color: var(--fg-color);
  fill: var(--fg-color);
}
body > header svg {
  height: 1.62em;
}
body > header nav {
  border-bottom: none;
}

main[type=content] {
  max-width: 23em;
}
main[type=content][hidden] {
  display: block !important;
}
main[type=feed] {
  display: grid;
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  grid-column-gap: 2em;
  grid-row-gap: 3em;
  padding-block-start: 2em;
}
main[type=feed] > article {
  display: inline-block;
  width: 100%;
}
main[type=json] {
  background-color: var(--fg-color);
  color: var(--bg-color);
  padding: 1em;
}

article {
  background-color: #1a1a1a;
  border-bottom: 1px solid var(--border-color);
  clip-path: var(--shred-edges);
  color: var(--fg-color);
  filter: opacity(80%) grayscale(85%);
  min-height: 7em;
  padding: 1px;
  padding-block-end: 1em;
  transition: filter .38s;
  white-space: pre-wrap;
}
article:hover {
  filter: opacity(90%) grayscale(0%);
  transition: filter .38s;
}
article.spotlight,
article.spotlight:hover,
article:target {
  background-color: black;
  filter: brightness(120%);
}
article > * {
  padding-block-start: .5em;
  padding-inline-start: 1.62em;
  padding-inline-end: 1.62em;
}

article header {
  background-color: var(--border-color);
  display: flex;
  align-items: center;
  margin-block-end: .5em;
  padding-block-start: .62em;
  padding-block-end: .38em;
}
article header .thumb {
  margin-inline-end: 1em;
}
article header .thumb .off {
  visibility: hidden;
}
article.spotlight header .thumb .on {
  visibility: hidden;
}
article.spotlight header .thumb .off {
  visibility: visible;
}

article aside {
  display: flex;
  align-items: start;
  line-height: 1;
}
article aside address {
  flex: 0 1 auto;
  border-bottom: 1px dashed gray;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
article aside time {
  flex: 1 0 auto;
  margin-inline-start: .5em;
  text-align: right;
}
article aside svg {
  height: 1.1em;
  margin-inline-end: .5em;
}
article aside a {
  color: inherit;
  text-decoration: none;
}

article .content {
  display: block;
  color: inherit;
  text-decoration: none;
}

article nav {
  font-size: .9em;
  margin: 0 auto;
  margin-block-start: 1.62em;
}
article.spotlight nav {
  background: var(--fg-color);
  border-color: var(--fg-color);
  color: var(--bg-color);
}
article.spotlight nav a:hover {
  background: var(--bg-color);
  color: var(--fg-color);
}

.thumb {
  color: inherit;
  position: relative;
}
.thumb .hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: var(--border-color);
  cursor: pointer;
  filter: opacity(0);
  transition: filter .62s;
}
.thumb:hover .hover {
  filter: none;
  transition: filter .38s;
}
.thumb img {
  border-radius: 9999px;
}
