:root {
  --fg-color: #fafafa;
  --bg-color: #222;
  --border-color: #fafafa;
  --link-color: #2fc2ef;
}

body {
  background-color: var(--bg-color);
  border-color: var(--border-color);
  color: var(--fg-color);
  padding: 1em;
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

[hidden] {
  display: none !important;
}

body > header {
  display: flex;
  align-items: baseline;

  background-color: var(--bg-color);
  border-bottom: 1px solid;
  font-variant: small-caps;
  margin-block-end: 1em;
  position: sticky;
  top: 0;
  z-index: 1;
}
body > header > *:first-child {
  flex: 1;
}
body > header a {
  color: inherit;
  text-decoration: none;
}

main[type=feed] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  grid-column-gap: 3em;
  grid-row-gap: 2em;
}
main[type=json] {
  background-color: var(--fg-color);
  color: var(--bg-color);
  padding: 1em;
}
main[type=markdown] {
  max-width: 37em;
}
main[type=markdown] h1:first-child {
  display: none;
}

article {
  background-color: #1a1a1a;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: var(--border-color);
  color: var(--fg-color);
  cursor: default;
  filter: opacity(80%) grayscale(75%);
  white-space: pre-wrap;
}
article:hover {
  filter: opacity(90%) grayscale(0%);
}
article.spotlight,
article.spotlight:hover,
article:target {
  background-color: black;
  filter: brightness(120%);
}

article header {
  background-color: var(--border-color);
  display: flex;
  align-items: center;
  margin-block-end: 1em;
  padding: .5em 1em;
}
article header .thumb {
  margin-right: 1em;
}

article section {
  padding: 0 1em;
}
article ul {
  margin-block-start: 1em;
}

.retweet::before {
  content: '» ';
}
.author + .retweet::before {
  content: ' » ';
}

.thumb img {
  border-radius: 50%;
}
