:root {
  --theme-color: #2fc2ef;
  --fg-color: #fafafa;
  --bg-color: #222;
  --bg-img: none;
  --column-gap: 3em;
  --hover-effect: background-color .38s linear, color .24s linear, fill .24s linear;
  --shred-edges: polygon(2% 0%, 4% 7%, 0% 21%, 6% 38%, 0% 62%, 5% 59%, 0% 74%, 4% 95%, 0% 100%, 100% 100%, 96% 78%, 100% 74%, 99% 54%, 94% 57%, 99% 42%, 98% 25%, 98% 15%, 93% 9%, 97% 4%, 90% 0%);
}

body {
  background-color: var(--bg-color);
  color: var(--fg-color);
  fill: currentColor;
  margin: 0 auto;
  max-width: 81em;
  padding: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-variant: small-caps;
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline double;
}

.nojs {
  background: red;
  border-bottom: 1px solid;
  font-size: 1.2em;
  font-variant: small-caps;
  padding: .25em
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;

  background: black;
  border: 1px solid;
  font-variant: small-caps;
  width: -moz-fit-content;
  width: fit-content;
}
nav:empty {
  display: none;
}
nav a {
  background-color: var(--fg-color);
  color: var(--bg-color);
  text-decoration: none;
  transition: var(--hover-effect);
}
nav a:hover {
  background-color: black;
  color: var(--fg-color);
  text-decoration: none;
}
nav a .text {
  display: inline-block;
  padding: .25em .5em;
}

address {
  font-style: normal;
}

time {
  font-style: italic;
}

[hidden] {
  display: none !important;
}

body > header {
  display: flex;
  align-items: flex-end;
  background-color: var(--bg-color);
  border-bottom: 1px solid;
}
body > header * {
  display: inline-block;
}
body > header h1 {
  flex: 1;
  margin: 0;
}
body > header h1 a {
  background-color: var(--fg-color);
  clip-path: var(--shred-edges);
  color: var(--bg-color);
  fill: var(--bg-color);
  text-decoration: none;
  transition: var(--hover-effect);
}
body > header h1 a:hover {
  background-color: var(--bg-color);
  color: var(--fg-color);
  fill: var(--fg-color);
}
body > header svg {
  height: 1.62em;
}
body > header nav {
  border-bottom: none;
}

main > * {
  padding-block-start: 2em;
}

#detail {
  border-bottom: 1px solid;
  padding-block-end: 2em;
}
#detail[data-type] {
  display: none;
}
#detail[data-type].ready {
  display: block;
}
#detail > *:first-child {
  margin-block-start: 0;
}

#feed {
  display: none;
}
#feed.ready {
  display: grid;
}
#feed {
  align-items: start;
  grid-template-columns: repeat(auto-fit, minmax(14em, 1fr));
  grid-column-gap: var(--column-gap);
  grid-row-gap: 3em;
}
#feed > article {
  display: inline-block;
  width: 100%;
}
#feed > article:first-child {
  scroll-margin-block-start: 2em;
}

@media screen and (min-width: 49em) {
  main {
    display: grid;
    align-items: start;
    grid-template-columns: minmax(14em, 23em) 1fr;
    grid-column-gap: var(--column-gap);
  }

  #detail {
    border-bottom: none;
    position: sticky;
    top: 0;
  }
  #detail article {
    margin: 0;
  }

  #feed {
    justify-content: end;
  }
}

article {
  --bg-color: black;
  background-color: var(--bg-color);
  clip-path: var(--shred-edges);
  color: var(--fg-color);
  filter: opacity(80%) grayscale(85%);
  margin: 0 auto;
  max-width: 19em;
  min-height: 7em;
  overflow: hidden;
  transition: filter 3.14s ease;
  white-space: pre-wrap;
}
article:hover {
  filter: opacity(90%) grayscale(0%);
}
article.spotlight,
article.spotlight:hover,
article:target {
  filter: brightness(120%);
}
article > * {
  background-color: var(--bg-color);
  padding-block-start: .5em;
  padding-inline-start: 1.62em;
  padding-inline-end: 1.62em;
}

article header {
  --bg-color: var(--theme-color);
  display: flex;
  align-items: center;
  padding-block-start: .62em;
  padding-block-end: .38em;
}
article header .thumb {
  background-color: var(--theme-color);
  margin-inline-end: 1em;
}
article header .thumb .off {
  visibility: hidden;
}
article.spotlight header .thumb .on {
  visibility: hidden;
}
article.spotlight header .thumb .off {
  visibility: visible;
}
article header:hover ~ .content {
  animation: 1.62s scan linear;
  background: center / cover no-repeat var(--bg-img) var(--bg-color);
  color: transparent;
}

article aside {
  display: flex;
  align-items: start;
  line-height: 1;
  margin-block-end: .5em;
}
article aside address {
  flex: 0 1 auto;
  border-bottom: 1px dashed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
article aside time {
  flex: 1 0 auto;
  margin-inline-start: .5em;
  text-align: right;
}
article aside svg {
  height: 1.1em;
  margin-inline-end: .5em;
}
article aside a {
  color: inherit;
  text-decoration: none;
}

article .content {
  display: block;
  border-bottom: 1px solid var(--theme-color);
  color: inherit;
  padding-block-end: 1.62em;
  text-decoration: none;
}
article .content:hover {
  transition: color 1s;
}

article nav {
  --bg-color: var(--theme-color);
  border: none;
  padding: 0;
  width: 100%;
}
article nav a {
  background-color: var(--bg-color);
  color: var(--fg-color);
}
article nav a:hover {
  background-color: var(--fg-color);
  color: var(--bg-color);
}

.thumb {
  color: inherit;
  position: relative;
}
.thumb .hover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  background-color: var(--bg-color);
  cursor: pointer;
  filter: opacity(0);
  transition: filter .62s;
}
.thumb:hover .hover {
  filter: none;
}
.thumb img {
  border-radius: 9999px;
}

.refresh {
  position: sticky !important;
  bottom: .5em;
  grid-column: 1 / -1;
  justify-self: end;
}

.fade {
  animation: 3.14s fade;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes scan {
  0% { background-position: top left; }
  62% { background-position: bottom right; }
  100% { background-position: center; }
}
